html {
  font-size: 18px;
  font-family: "Helvetica";
  line-height: 1.4;
}

.container {
  width: 960px;
  margin: auto;
}

/* Header section*/

header {
  background-image: url(../images/glasses-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30rem;
  padding-top: 1rem;
}

nav {
  display: flex;
  background-color: cadetblue;
  color: white;
  font-size: 1rem;
  padding: 1rem 2rem;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

nav img {
  height: 1.5rem;
  margin-right: 1rem;
}

.webpages {
  display: flex;
}

.webpages li {
  padding: 0 1rem;
}

.menu li {
  display: none;
}

.flexcontainer {
  display: flex;
  justify-content: flex-end;
}

.quote {
  display: inline-block;
  justify-content: flex-end;
  background-color: white;
  margin-top: 10rem;
  margin-right: -2rem;
  padding: 1.5rem 5rem;
}

.quote span {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

@media only screen and (max-width:1024px) {
  .container {
    width: 100%;
  }

  header {
    padding-top: 0;
    height: 22rem;
  }

  .quote {
    margin-top: 5rem;
    padding: 1.5rem 4rem;
    margin-right: 2rem;
  }

  .quote span {
    font-size: 1.33rem;
  }
}


@media only screen and (max-width:700px){
  .webpages {
    display: none;
  }

  .menu li {
    display: block;
    padding: 0 1rem;
  }
}

@media only screen and (max-width:560px) {
  header {
    background-position: 20%;
    height: 17rem;
  }

  .title span {
    display: none;
  }

  .quote {
    width: 100%;
    margin-top: 9rem;
    padding: 1rem 4rem;
    margin-right: 0rem;
    text-align: center;
  }

  .quote span {
    font-size: 1rem;
  }

}

/* Main section Unique Selling Points*/

.USP {
  display: flex;
  justify-content: center;

}

.point {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  width: 5rem;
  margin: 3rem;
  text-align: center;
  line-height: 1.4;
}

.point img {
  width: 5rem;
}

.point.exams img {
  width: 3.5rem;
}


@media only screen and (max-width:560px) {
  .USP {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3rem;
  }

  .point {
    height: auto;
    margin: 0.77rem;
    font-size: 0.77rem;
  }

  .point img {
    margin-bottom: 0.77rem;
  }
}

/*Main section Info*/

.info {
  display: flex;
  justify-content: center;
}

.box {
  width: 35%;
  margin-right: 5%;
  margin-bottom: 5rem;
}


.textbanner {
  background-color: cadetblue;
  color: white;
  width: 10rem;
  font-weight: bold;
  font-size: 1rem;
  padding: 0.6rem 1.25rem;
  margin-bottom: 1rem;
}

.box p {
  font-size: 0.9rem;
  line-height: 1.2;
}

@media only screen and (max-width:560px) {
  .info {
    flex-direction: column;
    margin-top: 3rem;
  }

  .box {
    width: 100%;
    margin-right: 0;
    margin-bottom: 4rem;
  }

  .textbanner {
    width: 100%;
    padding: 0.6rem 0rem;
    text-align: center;
  }

  .box p {
    font-size: 0.77rem;
    margin-left: 0.5rem;
    margin-right: 1rem;
  }
}

/* Footer section*/

footer {
  display: flex;
  align-items: center;
  background-color: azure;
  padding: 4rem 4rem;
  margin-left: -2rem;
  margin-right: -2rem;
}

footer img {
  height: 1.5rem;
  margin-right: 1rem;
}

footer span {
  font-size: 1rem;
}

@media only screen and (max-width:560px){
  footer {
    justify-content: center;
  }

  footer span {
    display: none;
  }
}
